# carpetas
build/
components/
managed_components/
z_otros/
.vscode/
software_servidor/img/
error_log/

# archivos
main/config.h
software_servidor/comandos_relevantes.txt
software_servidor/servidor_old.c
software_servidor/servidor
sdkconfig.old
comandos_ssh.txt
